.ccm {
  background-color: rgba(255, 255, 255, 0.90);
  padding: 2rem;
  border-radius: 40px;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.22rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw; /* Largeur adaptative */
  height: auto;

}


.ccc {
  background-color: rgba(255, 255, 255, 0.90);
  padding: 2rem;
  border-radius: 40px;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70vw; /* Largeur adaptative */

  height: auto ;
   /* Largeur maximale */
}



.fdp {
  background-color: rgba(255, 255, 255, 0.90);
  padding: 1rem;
  border-radius: 40px;
  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  display: flex;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  width: 80vw; /* Largeur adaptative */
  height: auto;
}

.text-section-fdp {
  width: 70%;
  text-align: center;
  margin: 1vw;
}

.text-section-fdp h1{
  font-size: 3vw;
}
.text-section-fdp p{
  font-size: 1.25vw;
}


.partenaire {
  background-color: rgba(255, 255, 255, 0.90);
  padding: 2rem;

  margin-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95.15vw; /* Largeur adaptative */
  height: auto;
   /* Largeur maximale */
}








.ccm .text-section{
  width: 35%;
  text-align: left;
  margin: 0px;
}









.ccm .image-section {
  width: 55%;
  padding: 0 0px;
}




.ccc .text-section  {
  width: 35%;
  text-align: left;
  margin-left: 20px;
  padding-left: 4rem;
}





.ccc .image-section {
  width: 40%;

}


.buttonContinue {
  margin-top: 2rem;
  background-color: #004d00;
  color: white;
  padding: 2rem 3rem;
  border: none;
  border-radius: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttonContinue:hover {
  background-color: forestgreen;
  transform: scale(1.1);
}

.w-12 {
  width: 35vw;
  margin-left: 0vw;
  height: auto;
  margin-bottom: 5px;
}

.w-22 {
  width: 55vw;
  margin-left: 0vw;
  margin-right: 3vw;
  padding-right: 3rem;
  height: auto;
  margin-bottom: 5px;
}

.partenaire-logo, .partenaire-logo1 {
  max-width: 150px;
  height: auto;
  margin: 0 10px;
}

.partenaire-logo1 {
  max-width: 400px;
}

@media (max-width: 768px) {
  .ccm, .ccc, .fdp, .partenaire {
    flex-direction: column;
    width: 90vw;
  }

  .ccm .text-section, .ccc .text-section,
  .ccm .image-section, .ccc .image-section {
    width: 100%;
    margin: 10px 0;
  }

  .buttonContinue {
    padding: 1rem 1.5rem;
  }

  .w-12 {
    width: 90vw;
  }
}