

@media screen and (min-width: 778px) {
    .header{transform: skewY(-1.5deg);}

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, orange, #FF6A00 );
    background-size: 100% ;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    padding: 0px;

    transform-origin: top left;
    margin-top: 0px;
    height: 100%;
    width: 100%;
    margin-right: 0px;
}
.logo {
  transform: skewY(1.5deg); /* Contre-inclinez le logo pour annuler l'effet */
  height: 10em; /* Taille classique pour un logo */
  width: auto; /* Largeur automatique basée sur le ratio de l'image */
   /* Positionnement absolu par rapport à l'élément parent */
  top: 0px; /* Espace du haut de la page */
  left: 5em; /* Espace de la gauche de la page */
}

.partner-logos {
    display: flex;
    align-items: center;
}
.partner-logo {
    margin-left: 0.8vw; /* Déjà en unités relatives */
    transform: skewY(1.5deg);
    width: auto;
    max-height: 4.25em; /* Remplace 100px, en supposant une taille de police de base de 16px */
    margin-bottom: 0em; /* Remplace 5px */
    margin-top: 0em; /* Remplace 25px */
    margin-right: 2.8em; /* Remplace 45px, ajustez selon la taille de police de base */
}

.partner-logo-1 {
    margin-left: 0.625em; /* Remplace 10px */
    transform: skewY(1.5deg);
    width: auto;
    max-height: 9.25em; /* Remplace 260px */
    margin-bottom: 0em; /* Remplace 5px */
    margin-top: 0em; /* Remplace 25px */
    margin-right: 1.56em; /* Remplace 25px */
}

.partner-logo-3 {
    margin-left: 1.875em; /* Remplace 30px */
    transform: skewY(1.5deg);
    width: auto;
    max-height: 4.25em; /* Remplace 100px */
    margin-bottom: 0px;
    margin-top: 0em; /* Remplace 35px */
    margin-right: 2.8em; /* Remplace 45px */
}



@media screen and (max-width: 768px) {
  .header {
    height: auto; /* Ajustez la hauteur pour les petits écrans */
    transform: skewY(0deg); /* Optionnel, supprime l'inclinaison sur les petits écrans */
    /* Ajoutez un peu de padding pour ne pas couper le contenu */
  }
    .logo {
        height: 6em; /* Ajustez la taille du logo principal sur petits écrans */
        margin-right: 1.5em;
    }
    .partner-logo  {
        height: 5em; /* Réduisez davantage la taille des logos partenaires sur petits écrans */
        margin-left: 0em;
        margin-right :0em;
        transform: skewY(0deg);
    }

    .partner-logo-1 {
        height: 6em; /* Réduisez davantage la taille des logos partenaires sur petits écrans */
        margin-left: 0em;
        margin-right :0em;
        transform: skewY(0deg);
    }

     .partner-logo-3 {
        max-height: 2.5em; /* Réduisez davantage la taille des logos partenaires sur petits écrans */
        margin-left: 0em;
        margin-right :0em;
        margin-bottom: 0.8em;
         transform: skewY(0deg);
    }
  /* Autres
  /* Autres ajustements spécifiques pour les logos et éléments dans le header */
}