


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, orange, #FF6A00 );
    background-size: 100% 400px;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    padding: 0px;
    transform: skewY(-1.5deg);
    transform-origin: top left;
    margin-top: 0px;
    height: 150px;
    width: 100%;
margin-right: 0px;
}
.logo {
  transform: skewY(1.5deg); /* Contre-inclinez le logo pour annuler l'effet */
  height: 200px; /* Taille classique pour un logo */
  width: auto; /* Largeur automatique basée sur le ratio de l'image */
   /* Positionnement absolu par rapport à l'élément parent */
  top: 0px; /* Espace du haut de la page */
  left: 10px; /* Espace de la gauche de la page */
}

.partner-logos {
    display: flex;
    align-items: center;
}

.partner-logo {
    margin-left: 10px; /* Espace entre les logos partenaires */
    transform: skewY(1.5deg); /* Optionnel: pour contre-incliner les logos */
    width:auto;
     max-height:100px;
     margin-bottom:5px;
    margin-top: 25px;
    margin-right: 45px;
    /* Ajoutez ici des styles supplémentaires pour la taille des logos partenaires si nécessaire */
}

.partner-logo-1 {
    margin-left: 10px; /* Espace entre les logos partenaires */
    transform: skewY(1.5deg); /* Optionnel: pour contre-incliner les logos */
    width:auto;
     max-height:260px;
     margin-bottom:5px;
    margin-top: 25px;
    margin-right: 25px;
    /* Ajoutez ici des styles supplémentaires pour la taille des logos partenaires si nécessaire */
}
.partner-logo-3 {
    margin-left: 30px; /* Espace entre les logos partenaires */
    transform: skewY(1.5deg); /* Optionnel: pour contre-incliner les logos */
    width:auto;
     max-height:100px;
     margin-bottom:0px;
    margin-top: 35px;
    margin-right: 45px;
    /* Ajoutez ici des styles supplémentaires pour la taille des logos partenaires si nécessaire */
}