


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, orange, #FF6A00 );
    background-size: 100% ;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    padding: 0px;
    transform: skewY(-1.5deg);
    transform-origin: top left;
    margin-top: 0px;
    height: 9vw;
    width: 100%;
margin-right: 0px;
}
.logo {
  transform: skewY(1.5deg); /* Contre-inclinez le logo pour annuler l'effet */
  height: 13em; /* Taille classique pour un logo */
  width: auto; /* Largeur automatique basée sur le ratio de l'image */
   /* Positionnement absolu par rapport à l'élément parent */
  top: 0px; /* Espace du haut de la page */
  left: 10px; /* Espace de la gauche de la page */
}

.partner-logos {
    display: flex;
    align-items: center;
}
.partner-logo {
    margin-left: 0.8vw; /* Déjà en unités relatives */
    transform: skewY(1.5deg);
    width: auto;
    max-height: 6.25em; /* Remplace 100px, en supposant une taille de police de base de 16px */
    margin-bottom: 0.3em; /* Remplace 5px */
    margin-top: 1.56em; /* Remplace 25px */
    margin-right: 2.8em; /* Remplace 45px, ajustez selon la taille de police de base */
}

.partner-logo-1 {
    margin-left: 0.625em; /* Remplace 10px */
    transform: skewY(1.5deg);
    width: auto;
    max-height: 16.25em; /* Remplace 260px */
    margin-bottom: 0.3em; /* Remplace 5px */
    margin-top: 1.56em; /* Remplace 25px */
    margin-right: 1.56em; /* Remplace 25px */
}

.partner-logo-3 {
    margin-left: 1.875em; /* Remplace 30px */
    transform: skewY(1.5deg);
    width: auto;
    max-height: 6.25em; /* Remplace 100px */
    margin-bottom: 0px;
    margin-top: 2.19em; /* Remplace 35px */
    margin-right: 2.8em; /* Remplace 45px */
}