.titre {
  background-color: rgba(255, 255, 255, 0.90); /* Fond transparent */
  padding: 0.8vw;
  border: 0px solid #000; /* Bordure noire */
  border-radius: 40px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 70%;

}

.titre h2{
  font-family: "Arial Black", sans-serif; /* Exemple de police moderne */
  font-weight: 0000; /* Réduit la graisse de la police */
  font-size: 28px; /* Taille de la police plus grande */
  margin-top : 1vw;

  margin-bottom: 1vw; /* Augmente la marge en bas pour plus d'espace */
  text-align: center; /* Centre le texte */
  letter-spacing: 0.05vw; /* Augmente l'espacement entre les caractères */
  color: #333; /* Couleur du texte */


}

.ligne-sous-titre {
  width: 85%;
  height: 0.05vw;
  background-image: linear-gradient(to right, orange, #FF6A00 );
  margin: 10px auto;
}


.titre p {

  font-family: "Arial ", sans-serif; /* Exemple de police moderne */
  font-weight: 500; /* Réduit la graisse de la police */
  font-size: 24px; /* Taille de la police plus grande */
  margin-top : 1.75vw;
  margin-bottom: 1.75vw; /* Augmente la marge en bas pour plus d'espace */
  text-align: center; /* Centre le texte */
  color: #333; /* Couleur du texte */


}




@media screen and (max-width: 600px) {
  .titre {
    width: 90%; /* Plus large pour petits écrans */

    padding: 1vw;
  }

  .titre h2 {
    font-size: 20px; /* Taille de police plus petite */
    margin-top: 1vw;
    margin-bottom: 1vw;
    letter-spacing: 0.03vw; /* Espacement des lettres plus petit */
  }

  .titre p {
    font-size: 18px; /* Taille de police plus petite */
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .ligne-sous-titre {
    width: 90%; /* Largeur ajustée pour les petits écrans */
    height: 0.03vw; /* Hauteur de ligne plus fine */
  }
}













