.video-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2vw;
  flex-wrap: nowrap; /* Empêche le passage à la ligne */
  margin: 0 auto;
  padding: 1vw;
  overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
}

.video-frame {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 25vw; /* Ajustez selon la taille souhaitée */

}


.bloque {
  background-color: rgba(255, 255, 255, 0.90);
  padding: 1em;
  margin: 5vh auto;
  border-radius: 40px;
  font-size: 1.25rem;
  width: 95vw;
  text-align: center;
}

.bloque h1 {
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.bloque p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  margin: 0.5em 0;
  padding: 0 1em;
  font-weight: bold;
}
.videomami{
  background-color: rgba(255, 255, 255, 0.70)


}

@media (max-width: 600px) {
  .video-container {
    flex-wrap: wrap; /* Permet le passage à la ligne sur petits écrans */
  }

  .video-frame {
    max-width: 80vw;
  }}
