@media screen and (min-width: 768px) {

body {
    background-image: url('Ressources/panneau-solaire-75.png');
    background-size: cover; /* S'assure que l'image couvre tout l'écran */
    background-attachment: fixed; /* L'image de fond ne défile pas avec le contenu */
    background-position: center center; /* Centre l'image de fond */
  }
}



/* Style.css */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header-title {
  color: black; /* Choisissez la couleur de votre titre */
  text-align: center; /* Centre le titre */
  margin: 0;
  padding: 20px 0; /* Ajoutez un padding pour positionner le titre */
  /* Ajoutez d'autres styles de texte comme la taille de police, la famille de police, etc. */
  font-size: 2em; /* Exemple pour la taille de la police */
  /* D'autres propriétés de style que vous souhaitez appliquer à votre titre */
}

@media screen and (max-width: 768px) {
  body {
    background-color: lightskyblue;
  }
}

